.news-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 10px;
}
.parent-firstline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
}

.parent-firstline .news-text {
    font-size: 16px;
    font-weight: 500;
}

.parent-firstline .news-url {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.news-details {
    display: flex;
    column-gap: 5px;
    font-size: 12px;
    color: gray;
}