#root{
  margin:  0 130px;
  
}

/* Header */

#header {
  border: 2px solid;
  display: flex;
  background-color: #FF742B;
  padding: 10px 15px;
  height: 40px;
}

#search-logo {
  display: flex;
  padding: 0 5px;
  align-items: center;
  cursor: pointer;
}

#logo-img img {
  width: 50px;
}

#logo-name {
  font-size: 18px;
  padding: 0 10px;
}

#search-bar {
  display: flex;
  flex-grow: 1;
  padding: 0 10px;
  border: none;
}

#search-bar input{
  display: flex;
  flex-grow: 1;
}

#last-search-bar{
  margin: 1px  0;
  padding: 0 10px;
  background-color: white;
}

#settings{
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#settings .settings-name{
  padding: 0 5px;
}



/* NewsLists */
.newslist-container{
  border-top: 1px solid;
  background-color: rgb(230, 230, 233);
}

.error-message{
  display: flex ;
  justify-content: center;
  font-size: 1.8em;
}

/* loader */
.lds-spinner {
  color: official;
  /* display: inline-block; */
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(168, 119, 74);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




/* Footer */

#footer{
  height: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

}

#footer-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#footer-list li{
  list-style: none;
  padding: 5px;
  cursor: pointer;
}






@media(max-width : 1100px){
  #root{
    margin: 0;
  }

}
@media (max-width : 800px){
  
  #logo-name , #last-search-bar , #settings .settings-name {
    display: none;
  }
}